<a href="https://colab.research.google.com/github/joonsol/JAVA-curriculum/blob/main/python_%EC%A0%95%EB%A6%AC%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello python!")

hello python!

# 1.자료형 출력하기

In [ ]:
#정수형
x=10
y=5
z=x+y
print(z)
print(f"x:{x} y:{y} z:{z}")
print(type(z))

15
x:10 y:5 z:15
<class 'int'>

In [ ]:
# 실수형
pi =3.14159
radius=5
area=pi*radius*radius
print(area)
print(f"pi:{pi} radius:{radius} area:{area}")
print(type(area))

78.53975
pi:3.14159 radius:5 area:78.53975
<class 'float'>

In [ ]:
from os import name
# 문자열
name="Jhon"
greeting =f"Hello ,{name}"
print(greeting)
print(type(greeting))

Hello ,Jhon
<class 'str'>

In [ ]:
# boolean
is_active=True
is_looed_in=False
if is_active:
  print("활성화 상태입니다.")
else:
  print("비활성화 상태입니다.")

  if is_looed_in:
    print("로그인 상태입니다.")
  else:
    print("로그아웃 상태입니다.")

print(type(is_looed_in))

활성화 상태입니다.
<class 'bool'>

In [ ]:
# list
numbers =[1,2,3,4,5]
numbers.append(6)
print(numbers)
print(f"리스트의 길이:{len(numbers)}")

print(type(numbers))

[1, 2, 3, 4, 5, 6]
리스트의 길이:6
<class 'list'>

In [ ]:
# tuple
coordinates=(10,20)
print(coordinates[0])
print(coordinates[1])
# coordinates[0]=30

10
20

In [ ]:
# dict
person={"name":"John","age":30,"city":"New York"}
print(person["name"])
print(person["age"])
print(person["city"])
print(type(person))

John
30
New York
<class 'dict'>

In [ ]:
# set
unique_numbers={1,2,3,4,5,1,2,3}
print(unique_numbers)
print(type(unique_numbers))

{1, 2, 3, 4, 5}
<class 'set'>

# 2.문자열처리

In [ ]:
text ="Hello, Python"
print(text[0])
print(text[2])
print(text[-1])
print(text[0:5])
print(text[7:])
print(text[:5])

In [ ]:
name="Alice"
age=25
print(f"{name}의 나이는 {age}세 입니다")

#format
print("{}의 나이는 {}세 입니다".format(name,age))
#%
print("%s의 나이는 %d세 입니다"%(name,age))

In [ ]:
s=" Hello Hello"
print(s.strip())#공백제거
print(s.upper())#대문자
print(s.lower())#소문자

In [ ]:
s = " Hello "
print(s.strip())  # 'Hello'//양끝 공백만 제거됨

#3.사용자입력

In [ ]:
name = input("이름을 입력하세요: ")
print(f"{name}님, 반갑습니다.")

In [ ]:
x,y = input("두 숫자를 입력하세요 (예:10,20): ").split(",")
print(f"x:{x} y:{y}")

두 숫자를 입력하세요 (예:10,20): 10,20
x:10 y:20

#4.연산자

In [ ]:
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

print("덧셈:", a + b)
print("뺄셈:", a - b)
print("곱셈:", a * b)
print("나눗셈:", a / b)
print("몫:", a // b)
print("나머지:", a % b)
print("거듭제곱:", a ** b)

In [ ]:
age =int(input("나이를 입력하세요:"))

is_teenager = age >= 13 and age <= 19

print("청소년 여부",is_teenager)

In [ ]:
score=int(input("점수를 입력하세요"))

if score>=60:
    print("합격입니다")
else:
    print("불합격입니다.")

# 5.실습문제

In [ ]:
#사용자로부터 이름과 나이를 입력받아 다음 형식으로 출력하시오.

#예: `홍길동님은 25세입니다.`
name=(input("이름을 입력하세요:"))
age=(input("나이를 입력하세요:"))

print(f"{name}님은 {age}세입니다.")

이름을 입력하세요:alice
나이를 입력하세요:20
alice님은 20세입니다.

In [ ]:
# 두 개의 정수를 입력받아, 덧셈 결과를 출력하시오.

# 예: `10 + 20 = 30`

In [ ]:
num1=int(input("첫 번째 정수를 입력하세요:"))
num2=int(input("두 번째 정수를 입력하세요:"))

print(f"{num1} + {num2} = {num1+num2}")

첫 번째 정수를 입력하세요:5
두 번째 정수를 입력하세요:6
5 + 6 = 11

In [ ]:
# 사용자로부터 반지름을 입력받아 원의 넓이를 계산하시오.

# (원의 넓이 = 3.14 × 반지름²)
pi = 3.14
radius = float(input("반지름을 입력하세요: "))#실수로

area = pi * radius * radius

print(f"원의 넓이: {area}")

반지름을 입력하세요: 6
원의 넓이: 113.03999999999999

In [ ]:
# 사용자로부터 정수를 입력받아 짝수인지 홀수인지 판별하시오.
num = int(input("정수를 입력하세요 : "))
if num%2==0:
    print("짝수")
else :
    print("홀수")

정수를 입력하세요 : 20
짝수

In [ ]:
# 사용자로부터 키(cm)와 몸무게(kg)를 입력받아 BMI 지수를 계산하시오.

# (BMI = 몸무게 / (키 × 키), 단 키는 m 단위로 변환)
height = float(input("키를 입력하세요"))
weight = int(input("몸무게를 입력하세요"))

height_m=height/100

bmi = weight /(height_m**2)

print(f"당신의 BMI는 {bmi}")

키를 입력하세요169
몸무게를 입력하세요51
당신의 BMI는 17.856517628934565

# 6.조건문

In [1]:
x=10
if x>5:
    print("x는 5보다 큽니다.")

x는 5보다 큽니다.

In [4]:
x=int(input("숫자를 입력하세요"))


if x>10:
    print("x는 10보다 큽니다.")
elif x>5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5작거나 같습니다.")

숫자를 입력하세요6
x는 5보다 큽니다.

In [7]:
#age=20
#student=True
age=int(input("나이를 입력하세요: "))
student=input("학생이면 '학생' 아니면 '기타'라고 적어주세요 : ")

if age>=18:
    if student=="학생":
        print("성인 학생입니다.")
    else:
        print("성인이지만 학생은 아닙니다.")

나이를 입력하세요18
학생이면 '학생' 아니면 '기타'라고 적어주세요학생
성인 학생입니다.

In [8]:
x=7

if x>5 and x<10:
    print("x는 5보다 크고, 10보다 작습니다.")

if x<5 or x>10:
    print("x는 5보다 작거나 10보다 큽니다.")
else:
    print("x는 5이상 10이하입니다.")

x는 5보다 크고, 10보다 작습니다.
x는 5이상 10이하입니다.

In [10]:
x=10
y=20

if x==y:
    print("x와 y는 같습니다.")
elif x!= y:
    print("x와 y는 다릅니다.")

x와 y는 다릅니다.

In [11]:
my_list =[1,2,3,4,5]

if 3 in my_list:
    print("리스트에 3이 포함되어 있습니다.")

if 6 not in my_list:
    print("리스트에 6이 포함되어 있지 않습니다.")

리스트에 3이 포함되어 있습니다.
리스트에 6이 포함되어 있지 않습니다.

# 7.실습문제

In [12]:
x=int(input("정수를 입력하세요"))

if x>0:
    print("양수입니다.")
elif x<0:
    print("음수입니다.")
else:
    print("0입니다.")

정수를 입력하세요0
0입니다.

In [13]:
y=int(input("정수를 입력하세요"))

if y%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

정수를 입력하세요48
짝수입니다.

In [14]:
x=int(input("첫번째 수를 입력하세요"))
y=int(input("두번째 수를 입력하세요"))

if x>y :
    print(f" 더 큰수는{x}입니다.")
else:
    print(f" 더 큰수는{y}입니다.")

첫번째 수를 입력하세요10
두번째 수를 입력하세요30
 더 큰수는30입니다.

In [15]:
score = int(input("점수를 입력하세요: "))

if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
else:
    print("D")

점수를 입력하세요59
D

In [16]:
my_list =[3, 7, 9, 12]

x = int(input("검색할 숫자를 입력하세요"))

if x in my_list:
    print(f"리스트에 {x}가 있습니다.")
else:
    print(f"리스트에 {x}가 없습니다.")

검색할 숫자를 입력하세요9
리스트에 9가 있습니다.

In [ ]:
x=int(input("첫번째 숫자 입력"))
y=int(input("두번째 숫자 입력"))

if x==y:
    print(f"{x}와 {y}는 같습니다.")
else:
    print(f"{x}와 {y}는 같지 않습니다.")

# 8.반복문