<a href="https://colab.research.google.com/github/joonsol/JAVA-curriculum/blob/main/Python_Curriculum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello python!')

hello python!

# 1.자료형 실습문제

first_name = "Jane", last_name = "Doe" 라는 두 문자열이 주어졌습니다.
이를 리스트로 만든 후, 공백(" ")을 기준으로 다시 전체 이름을 결합하여 출력하세요.

In [ ]:
first_name="Jane"
last_name="Due"
name_list= [first_name,last_name]
full_name=" ".join(name_list)
print(full_name)

Jane Due

person이라는 딕셔너리가 주어집니다.
1. "age"를 31로 수정하고
2. "job"이라는 키에 "Designer"라는 값을 추가한 후
3. 전체 딕셔너리를 출력하세요.

In [ ]:
person={
    "age":31,
    "job":"Designer"
}
print(person)

{'age': 31, 'job': 'Designer'}

# 2.자료형 출력하기

In [ ]:
x=10
y=-5
z=x+y
print(f"x:{x} ,y:{y},z:{z}")

x:10 ,y:-5,z:5

In [ ]:
pi=3.14159
redius=5
area = pi*redius**2
print(f"원의 면적 :{area}")

원의 면적 :78.53975

In [ ]:
name ="Jhon"
greeting =f"Hell ,{name}"
print(greeting)

Hell ,Jhon

In [ ]:
is_active =True
is_logged_in =False

if is_active and not is_logged_in:
    print("User is active and not logged in.")

User is active and not logged in.

리스트는 여러 값을 순서대로 저장하며, 중복을 허용합니다.

In [ ]:
numbers =[1,2,3,4,5]
numbers.append(6)

print(numbers)
print(f"첫번째 요소 :{numbers[0]}")

[1, 2, 3, 4, 5, 6]
첫번째 요소 :1

튜플은 리스트와 비슷하지만, 불변형 자료형으로 수정이 불가능합니다.

In [ ]:
coordinates =(10,20)
print(coordinates)

(10, 20)

딕셔너리는 키와 값을 쌍으로 저장합니다.

In [ ]:
person={
    "name":"Alice",
    "age":25,
    "city":"New York"
}
person["age"]=26

print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [ ]:
unique_numbers ={1,2,3,4,4,5,"1","1"}
unique_numbers.add(6)


print(unique_numbers)

{1, 2, 3, 4, 5, '1', 6}

In [ ]:

# 정수형
a = 10
print(type(a))  # 출력: <class 'int'>

# 실수형
b = 3.14
print(type(b))  # 출력: <class 'float'>

# 문자열형
c = "Hello"
print(type(c))  # 출력: <class 'str'>

# 리스트형
d = [1, 2, 3, 4, 5]
print(type(d))  # 출력: <class 'list'>

# 튜플형
e = (1, 2, 3)
print(type(e))  # 출력: <class 'tuple'>

# 딕셔너리형
f = {"name": "John", "age": 30}
print(type(f))  # 출력: <class 'dict'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

# 3.연산자

In [1]:
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

print("덧셈:", a + b)
print("뺄셈:", a - b)
print("곱셈:", a * b)
print("나눗셈:", a / b)
print("몫:", a // b)
print("나머지:", a % b)
print("거듭제곱:", a ** b)

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5
덧셈: 8
뺄셈: -2
곱셈: 15
나눗셈: 0.6
몫: 0
나머지: 3
거듭제곱: 243

In [3]:
age =int(input("나이를 입력하세요:"))

is_teenager = age >= 13 and age <= 19

print("청소년 여부",is_teenager)

나이를 입력하세요:26
청소년 여부 False

In [2]:
score=int(input("점수를 입력하세요"))

if score>=60:
    print("합격입니다")
else:
    print("불합격입니다.")

점수를 입력하세요95
합격입니다

# 4.조건문

In [4]:
x = 10

if x > 5:
    print("x는 5보다 큽니다.")

x는 5보다 큽니다.

In [5]:
x = 3

if x > 5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 작거나 같습니다.

In [6]:
age = 20
student = True

if age >= 18:
    if student:
        print("성인 학생입니다.")
    else:
        print("성인이지만 학생은 아닙니다.")

성인 학생입니다.

In [10]:
x=int(input("숫자를 입력하세요"))
result ="x는 5보다 큽니다." if x>5 else "x는 5보다 작거나 같습니다."

print(result)

숫자를 입력하세요5
x는 5보다 작거나 같습니다.

# 5.실습문제

In [2]:
#정수 판별하기
num = int(input("숫자를 입력하세요: "))

if num>0:
    print("정수입니다")
elif num<0:
    print("음수입니다.")
else:
    print("0입니다.")

숫자를 입력하세요50
정수입니다

In [3]:
# 입력 예: 8
# 출력 예: 짝수입니다.
num2 = int(input("숫자를 입력하세요"))

if(num2%2==0):
    print("짝수입니다.")
else:
    print("홀수입니다.")

In [7]:
# 입력 예: 5 9
# 출력 예: 더 큰 수는 9입니다.
num1 = int(input("첫 번째 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))

#result=str(num1)+"이 더 큽니다."if num1>num2 else str(num1)+"은 "+str(num2)+" 보다 작거나 같습니다."
#print(result)

if num1>num2:
    print(f"더 큰 수는 {num1}입니다.")
else:
    print(f"더 큰 수는 {num2}입니다.")

첫 번째 숫자를 입력하세요: 5
두 번째 숫자를 입력하세요: 3
더 큰 수는 5입니다.

In [8]:
# 입력 예: 82
# 출력 예: B학점입니다.

num1 = int(input("점수를 입력하세요: "))

if num1>=90:
    print("A학점입니다")
elif num1>=80:
    print("B학점입니다")
elif num1>=70:
    print("C학점입니다")
elif num1>=60:
    print("D학점입니다")
else:
    print("F학점입니다")

점수를 입력하세요: 85
B학점입니다

In [10]:
# 입력 예: 7
# 출력 예: 리스트에 포함되어 있습니다.
list =[3,7,9,12]

num1 = int(input("숫자를 입력하세요: "))

if num1 in list:
    print("리스트에 포함되어 있습니다.")
else:
    print("리스트에 포함되어 있지 않습니다.")

숫자를 입력하세요: 9
리스트에 포함되어 있습니다.

In [11]:
# 입력 예: 10 10
# 출력 예: 같습니다.
num1 = int(input("첫 번째 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))

if num1==num2:
    print("같습니다.")
else:
    print("같지 않습니다.")

첫 번째 숫자를 입력하세요: 11
두 번째 숫자를 입력하세요: 10
같지 않습니다.

In [9]:
# 입력 예: hello
# 출력 예: 길어요

word = input("단어를 입력하세요: ")

if len(word)>=5:
    print("길어요")
else:
    print("짧아요")

단어를 입력하세요: tython
길어요

In [12]:
num1 = int(input("숫자를 입력하세요"))
if 1<=num1 and num1<=100:
    print("범위안")
else:
    print("범위밖")

숫자를 입력하세요95
범위안

In [15]:
# 입력 예: admin 1234
# 출력 예: 로그인 성공

admin = input("아이디를 입력하세요")
pw = int(input("비밀번호를 입력하세요"))

if admin=="admin" and pw==1234:
    print("로그인 성공")
else:
    print("로그인 실패")

아이디를 입력하세요admin
비밀번호를 입력하세요1234
로그인 성공

In [16]:
# 입력 예: 9
# 출력 예: 3의 배수입니다.

num1 = int(input("숫자를 입력하세요 : "))
if num1%3==0:
    print("3의 배수입니다")
else:
    print("3의 배수가 아닙니다")

숫자를 입력하세요95
3의 배수가 아닙니다